<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/apropos.css') }}">
    <title>Document</title>
</head>
<body>
    <section class="nav-bar">
        <div class="logo">Go Trans</div>
        <ul class="menu">
            <li><a href="#">acceuil</a></li>
            <li><a href="#">compagnies</a></li>
            <li><a href="#">historiques</a></li>
            <li><a href="#">à propos</a></li>
            <li><a href="#">incription</a></li>
            <li><a href="#">connexion</a></li>
        </ul>
        </div>
    
    </section>
    <section class="about">
        <div class="about-img">
            <img src="https://res.cloudinary.com/dxssqb6l8/image/upload/v1605293719/outdoor_tjjhxk.jpg">
        </div>
        <div class="about-text">
            <small>AU SUJET DE NOTRE COMPAGNIE</small>
            <h2>Nous sommes la société de transport Go Trans</h2>
            <p>Nous sommes spécialisé dans la reservation des 
                tickets en ligne , et ausso nous vous donnons la posibilité
                de pouvoir aussi reseervé votre place le cas etant en circulation ,
                nous enregistrons tous vos voyage pour plus de sécuté et en 
                cas de perte de bien ou espèces , ect .

            </p>

            <label><input type="checkbox" checked>Fiabilité et confiance</label>
            <label><input type="checkbox" checked>L'un des mellieur</label>
            <label><input type="checkbox" checked>Le profesionnaliste et la qualité</label>
            <label><input type="checkbox" checked>Au prêt de vous et avec vous</label>
            <a href="#">À Propos</a>
        </div>
    </section>
</body>
</html>