<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="tableau.css">
    <title>Document</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <h1 style="text-align: center; color: #FDE02F;">Go Trans</h1>
        </div>
        <ul>
          <li class='active'>
            <a href="#">
             <i class="fa-solid fa-chart-column"></i>
             <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa-solid fa-building-user"></i>
              <span>voyages</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa-regular fa-file-lines"></i>
              <span>Utilisateurs</span>
            </a>
          </li>
          <li>
            <a href="#">
            <i class="fa-regular fa-file-lines"></i>
             <span>Compagnies</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="content">
      <nav>
        <p>
          <h1 style="text-align: center; color: #014B85;">Go Trans</h1>
        </p>
      </nav>
        
      <!--  Main heading  -->
        <div class="container">
          <header>
          <h1>Bienvenue  Administrateur</h1>
          <span>Ici vous pouriez voir tout ce que se passe sur votre plateforme</span>
        </header>
        </div>
        
        <div class="cards-container">
          <div class="card card1">
            <div id="chart-1">
                Voyages
            </div>
          </div>
          <div class="card card2">      
            <div id="chart-2">
                Utilisateurs
            </div>
          </div>
          <div class="card card3">
            <div id="chart-3">
                Compagnie
            </div>
          </div>
          <div class="card card4">
            <div id="chart-4"></div>
          </div>
          
        </div>
        
      
      </div>
      
      
      <script src="tableau.js"></script>
</body>
</html>